{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ asset('build/css/home.css') }}">
{% endblock %}

{% block body %}

    <div class="ui grid content home_div">
        <div class="sixteen wide column home_resume">
            <div class='console-container'><h1 class="home_text" style="display:none;">Bonjour. <br>Je suis un jeune
                    <br><span id='text'></span>
                    <br>Bienvenue sur mon Portfolio.</h1>
            </div>
            <a href="/about" class="ui inverted secondary right labeled icon button home_button" style="display:none;">En
                Savoir Plus
                <i class="down arrow icon"></i>
            </a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/js/home.js') }}"></script>
{% endblock %}


