{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ asset('build/css/navBar.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/home.css') }}">
{% endblock %}

{% block body %}

    {% include 'navbar.html.twig' %}
    <div class="ui grid content home_div">
        <div class="sixteen wide column home-resume">
            <h1 class="home_text">Bonjour.<br>Je suis Dorian AMCHI<br>jeune développeur full stack.<br>Bienvenue sur mon Portfolio.</h1>
            <button class="ui right labeled icon button">
                <i class="down arrow icon"></i>
                Next
            </button>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}


