<div class="ui left demo vertical inverted labeled icon sidebar menu uncover visible" style="">
    <section class="head">
        <a class="item">
            <h1 class="logo">&ltA&gt</h1>
        </a>
    </section>
    <section class="nav" style="position: relative;">
        <a class="item" onmouseover="onHover(this)" onmouseout="offHover(this)" href="/">
            <i class="home icon"></i>
            <p class="menu_text" style="display: none">Home</p>
        </a>
        <a class="item" onmouseover="onHover(this)" onmouseout="offHover(this)" href="/about">
            <i class="user icon"></i>
            <p class="menu_text" style="display: none">About</p>
        </a>
        <a class="item" onmouseover="onHover(this)" onmouseout="offHover(this)" href="/project">
            <i class="code icon"></i>
            <p class="menu_text" style="display: none">Projets</p>
        </a>
        <a class="item" onmouseover="onHover(this)" onmouseout="offHover(this)" href="/skills">
            <i class="cog icon"></i>
            <p class="menu_text" style="display: none">Skills</p>
        </a>
    </section>
    <section class="sociaux" style="position: relative;">
        <a class="item" onmouseover="onHover(this)" onmouseout="offHover(this)" href="https://www.facebook.com/amchidorian">
            <i class="facebook icon"></i>
            <p class="menu_text" style="display: none">Facebook</p>
        </a>
        <a class="item" onmouseover="onHover(this)" onmouseout="offHover(this)" href="https://github.com/amchidorian">
            <i class="github icon"></i>
            <p class="menu_text" style="display: none">GitHub</p>
        </a>
        <a class="item" onmouseover="onHover(this)" onmouseout="offHover(this)" href="https://www.linkedin.com/in/amchidorian/">
            <i class="linkedin icon"></i>
            <p class="menu_text" style="display: none">Linkedin</p>
        </a>
    </section>

</div>